
/*html { height: 101%; }
body { overflow-x: hidden; }

a.close { display: inline-block; background: #5574b4; padding: 10px 8px; color: #fff; font-weight: bold; font-size: 1.4em; text-decoration: none; margin-bottom: 6px; }
a.close:hover { background: #4a6397; }


#mainpage {
  width: 100%;
  height: auto;
  display: block;
  min-height: 800px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background:#f2f2f2;
  background: url(../images/bg.png);

}


#navigation a { 	
background: center center no-repeat transparent;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);
display: block;
width: 40px;
height: 40px;
position: absolute;
top: 0;
right: 10px;
}
#navigation a { display: block; padding: 8px 6px; width: 100%; color: #d1e0f8; text-decoration: none; }
#navigation a:hover, #navigation a.open { color: #fff; background: #484e57; }
